<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- para que se adapte a cualquier dispositivo -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>

<header>
  <h1 style="text-align: center; background-color:aliceblue;">Ficha Médica</h1>
</header><br></br>

<body>
  
{% with messages = get_flashed_messages() %}<!-- get_flashed_messages() es una funcion de flask que permite mostrar mensajes de error -->
{% if messages %}<!-- si hay mensajes de error los muestra -->
{% for message in messages %}<!-- muestra los mensajes de error -->
  <p>{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %} 

<form id="fichaMedicaForm" action="/add_ficha" method="post" style="border:inset; background-color: aliceblue;">
  <h2>Datos Personales</h2>
  
  <!-- formulario para agregar ficha médica -->
  <input type="number" name="rut" placeholder="Rut" required><br><br>
  <input type="text" name="nombres" placeholder="Nombres" required><br><br>
  <input type="text" name="apellidos" placeholder="Apellidos" required><br><br>
  <input type="text" name="direccion" placeholder="Direccion" required><br><br>
  <input type="text" name="ciudad" placeholder="Ciudad" required><br><br>
  <input type="number" name="telefono" placeholder="Telefono"><br><br>
  <input type="text" name="email" placeholder="Email"><br><br>
  <label for="fechaNacimiento">Fecha de Nacimiento:</label><br>
  <input type="date" id="fechaNacimiento" name="fechadeNacimiento" required><br><br>
  <label for="estadoCivil">Estado Civil:</label><br>
  <select id="estadoCivil" name="estadoCivil" required>
    <option value="soltero">Soltero</option>
    <option value="casado">Casado</option>
    <option value="divorciado">Divorciado</option>
    <option value="viudo">Viudo</option>
  </select><br><br>
  <label for="comment">Comentario:</label><br>
  <textarea id="comment" name="comentarios" rows="4" cols="50" placeholder="Ingresa tu comentario acá"></textarea><br>

  <button type="submit" onclick="alert('Ficha agregada satisfactoriamente')">
    Guardar
  </button>
  <button type="reset" id="limpiarFormulario">Limpiar Formulario</button>
  <button type="button" id="cerrar" onclick="alert('Acepta y se cerrará el formulario')" >Cerrar</button><br><br><br><br>
 
  <!-- JavaScript -->
  <script>
    document.getElementById('cerrar').addEventListener('click', function() {
      document.getElementById('fichaMedicaForm').style.display = 'none';
    });
  </script>

</form><br><br>

<!--Código java para botón "limpiar" y "Limpiar registros"-->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Referencia al formulario y a los botones
    const formulario = document.getElementById("fichaMedicaForm");
    const botonLimpiarFormulario = document.getElementById("limpiarFormulario");
    const botonLimpiarRegistros = document.getElementById("limpiar_registros");
    

    // Controlador de evento al botón "Limpiar Formulario"
    botonLimpiarFormulario.addEventListener("click", function () {
      formulario.reset(); // Limpiar el formulario
    });

    // Controlador de evento al botón "Mostrar Todos"
    botonMostrarTodos.addEventListener("click", function () {
      location.reload(); // Recargar la página para mostrar todos los registros
    });
  });
</script>
<form method="POST" action="/" style="border:inset; background-color: aliceblue;">
  <input type="text" name="apellido" placeholder="Buscar por Apellido">
  <button type="submit">Buscar</button>
  <button id="limpiar_registros">Limpiar registros</button>
</form><br>
<table border="1">
  <thead>
      <tr>
          <td>Rut</td>
          <td>Nombres</td>
          <td>Apellidos</td>
          <td>Direccion</td>
          <td>Ciudad</td>
          <td>Telefono</td>
          <td>Email</td>
          <td>FechadeNacimiento</td>
          <td>EstadoCivil</td>
          <td>Comentarios</td>
      </tr>
  </thead>
  <tbody>
      {% for fichamedica in datosficha %}
      <tr>
          <td>{{ fichamedica.0 }}</td>
          <td>{{ fichamedica.1 }}</td>
          <td>{{ fichamedica.2 }}</td>
          <td>{{ fichamedica.3 }}</td>
          <td>{{ fichamedica.4 }}</td>
          <td>{{ fichamedica.5 }}</td>
          <td>{{ fichamedica.6 }}</td>
          <td>{{ fichamedica.7 }}</td>
          <td>{{ fichamedica.8 }}</td>
          <td>{{ fichamedica.9 }}</td>
      </tr>
      {% endfor %}
  </tbody>
</table>

</body>
<footer>
  <h3 style="text-align: center; background-color:aliceblue;">@Copyrght.Todos los derechos reservados</h3> 
</footer>
</html>


